body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.round-summary, .attack-div {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.attack-div {
  border-bottom: 1px solid gray;
}

.normal-attack {
  background-color: beige;
}

.special-attack {
  background-color: lightcoral;
}

.missed-attack {
  background-color: green;
}

.details-holder {
  text-align: left;
  border: 1px solid gray;
  width: 45%;
  display: inline-block;
  cursor: pointer;
}

.img {
  height: 100%;
}

.img img {
  max-width: 50px;
}

.consumable {
  background-color: cadetblue;
}

.team-one, .team-two {
  width: 400px;
  height: 200px;
  border: 1px solid gray;
}

.team-holder {
  border: 1px solid gray;
  width: 49%;
  display: inline-block;
}